<html>
<head>
  <title>Random Beyonce </title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class = 'container'>
    <div class = 'header'><h1>Beyonce Rocks!</h1>

    </div>  
    
    <div class = 'navcontainer'>
      <div class = 'navbar'><a href="/">Home</a></div><div class = 'navbar'><a href="/sets">Sets</a></div><div class = 'navbar'><a href="/sets/new">Add a Set</a></div>
    </div>
    
    <div class = 'form'>
      <form action="/sets" method="post">
      <input type='hidden' name='_method' value='put'>
      <label>
      New Set Name:
        <input type='text' name='set_name'>
      </label>
      <label>
      Build your playlist:
        <textarea name='video'></textarea>
      </label>
      <label>
      Description:
        <input type='text' name='description'>
      </label>
      <input type='submit' name='submit' value='Make Your Set'>
      </form>
    </div>
  </div>
  
</body>
</html>