<html>
<head>
  <title>Random Beyonce </title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class = 'container'>
    <div class = 'header'><h1>Beyonce Rocks!</h1>
    </div>  
    <div class = 'navcontainer'>
      <div class = 'navbar'><a href="/">Home</a></div><div class = 'navbar'><a href="/sets">Sets</a></div><div class = 'navbar'><a href="/sets/new">Add a Set</a></div>
    </div>
    </div>
  </div>
<iframe src="<%= result%>" frameborder="0" allowfullscreen></iframe>
</body>
</html>