body {
	background-color:black;
}

.box {
	width:3200px;
	margin-top:-30px;
}

.container {
	width:1630px;
	display:inline-block;
	margin-left:0px;
	margin:-20px;
}

img {
	width:100%;
	opacity:90%;
}

.bg {
	width:1600px;
	position:fixed;
	z-index:-1;
}

.top {
	z-index:1;
}